/*-- CSS3 ------------------------------------------------------------------------------------------------------------*/

/* Background */
@mixin background-clip($clip){
  @if($clip == 'padding-box'){
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
  }
  @if($clip == 'border-box'){
    -moz-background-clip: border;
    -o-background-clip: border-box;
    -webkit-background-clip: border;
    background-clip: border-box;
  }
}
@mixin background-origin($origin){
  @if($origin == 'padding-box'){
    -moz-background-origin: padding;
    -o-background-origin: padding-box;
    -webkit-background-origin: padding;
    background-origin: padding-box;
  }
  @if($origin == 'border-box'){
    -moz-background-origin: border;
    -o-background-origin: border-box;
    -webkit-background-origin: border;
    background-origin: border-box;
  }
  @if($origin == 'content-box'){
    -o-background-origin: content-box;
    -webkit-background-origin: content;
    background-origin: content-box;
  }
}
@mixin background-size($size){
  -moz-background-size: $size;
  -o-background-size: $size;
  -webkit-background-size: $size;
  background-size: $size;
}
@mixin background-size($size){
  -moz-background-size: $size;
  -o-background-size: $size;
  -webkit-background-size: $size;
  background-size: $size;
}

/* Border-radius */
@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin border-radius-top-left($radius-top-left){
  -moz-border-radius-topleft: $radius-top-left;
  -webkit-border-top-left-radius: $radius-top-left;
  border-top-left-radius: $radius-top-left;
}
@mixin border-radius-top-right($radius-top-right){
  -moz-border-radius-topright: $radius-top-right;
  -webkit-border-top-right-radius: $radius-top-right;
  border-top-right-radius: $radius-top-right;
}
@mixin border-radius-bottom-left($radius-bottom-left){
  -moz-border-radius-bottomleft: $radius-bottom-left;
  -webkit-border-bottom-left-radius: $radius-bottom-left;
  border-bottom-left-radius: $radius-bottom-left;
}
@mixin border-radius-bottom-right($radius-bottom-right){
  -moz-border-radius-bottomright: $radius-bottom-right;
  -webkit-border-bottom-right-radius: $radius-bottom-right;
  border-bottom-right-radius: $radius-bottom-right;
}
@mixin border-radius-top($radius-top){
  -moz-border-radius-topleft: $radius-top;
  -webkit-border-top-left-radius: $radius-top;
  border-top-left-radius: $radius-top;
  -moz-border-radius-topright: $radius-top;
  -webkit-border-top-right-radius: $radius-top;
  border-top-right-radius: $radius-top;
}
@mixin border-radius-bottom($radius-bottom){
  -moz-border-radius-bottomleft: $radius-bottom;
  -webkit-border-bottom-left-radius: $radius-bottom;
  border-bottom-left-radius: $radius-bottom;
  -moz-border-radius-bottomright: $radius-bottom;
  -webkit-border-bottom-right-radius: $radius-bottom;
  border-bottom-right-radius: $radius-bottom;
}
@mixin border-radius-left($radius-left){
  -moz-border-radius-topleft: $radius-left;
  -webkit-border-top-left-radius: $radius-left;
  border-top-left-radius: $radius-left;
  -moz-border-radius-bottomleft: $radius-left;
  -webkit-border-bottom-left-radius: $radius-left;
  border-bottom-left-radius: $radius-left;
}
@mixin border-radius-right($radius-right){
  -moz-border-radius-topright: $radius-right;
  -webkit-border-top-right-radius: $radius-right;
  border-top-right-radius: $radius-right;
  -moz-border-radius-bottomright: $radius-right;
  -webkit-border-bottom-right-radius: $radius-right;
  border-bottom-right-radius: $radius-right;
}

/* Box-Shadow */
@mixin box-shadow-default{
  -moz-box-shadow: 0 5px #333333;
  -webkit-box-shadow: 0 5px #333333;
  box-shadow: 0 5px #333333;
}
@mixin box-shadow-custom($horizontal-offset, $vertical-offset, $blur-radius, $spread-radius, $color){
  -moz-box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
  -webkit-box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
  box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
}
@mixin box-shadow-custom-multiple($value){
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}
/* /Box-Shadow */

/* Box Sizing */
@mixin box-sizing($box){
  box-sizing: $box;
  -moz-box-sizing: $box;
  -webkit-box-sizing: $box;
}
/* /Box Sizing */

/*-- /CSS3 -----------------------------------------------------------------------------------------------------------*/

@mixin fluid-content(){
  content: '';
  display: block;
  position: absolute;
}
@mixin transition($property: all, $duration: 0.6s, $timing_function: ease, $delay: 0s){
  -webkit-transition: $property $duration $timing_function $delay;
  -moz-transition: $property $duration $timing_function $delay;
  -o-transition: $property $duration $timing_function $delay;
  transition: $property $duration $timing_function $delay;
}
